<div class="search-cont">
    
    <div class="search-box">
        <form (ngSubmit)="search()" #searchForm="ngForm">
            <div class="form-group">
                <input id='searchText' placeholder="search Foo" name="searchForm" required class="form-control" type="text" [(ngModel)]="searchValue" #name="ngModel"/>
                <button class="fancy-button search" [disabled]="!searchForm.form.valid">search</button>
                <div [hidden]="searchForm.valid || searchForm.pristine" class="alert">
                    SearchText is Required
                </div>
            </div>
        </form>
    </div>


    <div class="search-result">
        <h3> Results </h3>
        <div *ngIf="results.length==0 && searchForm.touched">
            No search results. Refine your results
        </div>
        <div *ngFor="let resultItem of results">
            <span> {{resultItem.app}} </span>
            <span> {{resultItem.body}} </span>
        </div>
    </div>
</div>
